In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
pd.options.display.max_columns = None

import pypyodbc as pyodbc
pyodbc.lowercase = False
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

In [2]:
#import data source from SQL Server
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=Server_name;"
            "Database=Database_name;"
            "UID=User_name;"
            'PWD=Password;')
cnxn = pyodbc.connect(cnxn_str)
cursor = cnxn.cursor()

data_result = pd.read_sql("""
                        SELECT FormulaName,ProductName,[Quota(SmallestUnit)],Price, QuotationID,NewTenderPackage AS TenderPackage,ResultDate,ValidTo, TenderYear
                        FROM TDI_TenderResult
                        WHERE [Include/Exclude] IS NULL""",
                        cnxn)
data_inviting = pd.read_sql("""
                        SELECT FormulaName,[Quota(SmallestUnit)], QuotationID,NewTenderPackage AS TenderPackage,ResultDate,ValidTo, TenderYear
                        FROM TDI_TenderInviting
                        WHERE [Include/Exclude] IS NULL""",
                        cnxn)

#import data source from excel files
#data_result = pd.read_excel(your_file_location, sheet_name=your_sheet_name)
#data_inviting = pd.read_excel(your_file_location, sheet_name=your_sheet_name)

In [4]:
#copy the data source to prevent time-consuming for importing all the dataset again
df_result = data_result[['FormulaName','ProductName','Quota(SmallestUnit)','Price','QuotationID','TenderPackage','ResultDate','ValidTo','TenderYear']].copy()
df_inviting = data_inviting[['FormulaName','Quota(SmallestUnit)','QuotationID','TenderPackage','ResultDate','ValidTo','TenderYear']].copy()

In [5]:
#INVITING

#df_inviting['ResultDate'] = pd.TimedeltaIndex(df_inviting['ResultDate'], unit='d') + datetime(1900,1,1)
#df_inviting['ValidTo'] = pd.TimedeltaIndex(df_inviting['ValidTo'], unit='d') + datetime(1900,1,1)
df_inviting['ResultDate'] = pd.to_datetime(df_inviting['ResultDate'].str.strip())
df_inviting['ValidTo'] = pd.to_datetime(df_inviting['ValidTo'].str.strip())

df_inviting = df_inviting[~((df_inviting['ValidTo'] < pd.to_datetime('2021-01-01')) | (df_inviting['ResultDate'] > pd.to_datetime('2023-12-31')))]

for i in ['FormulaName','TenderPackage']:
    df_inviting[i] = df_inviting[i].str.upper()

df_inviting['Quota(SmallestUnit)'] = pd.to_numeric(df_inviting['Quota(SmallestUnit)'],errors='coerce')

df_inviting['TenderPackage'][~df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])] = 'Other'
df_inviting['TenderPackage'] = np.where(
    ~df_inviting['TenderPackage'].isin(['GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5','BRANDED']),
    'Other',
    df_inviting['TenderPackage']
)

#RESULT
#df_result['ResultDate'] = pd.TimedeltaIndex(df_result['ResultDate'], unit='d') + datetime(1900,1,1)
#df_result['ValidTo'] = pd.TimedeltaIndex(df_result['ValidTo'], unit='d') + datetime(1900,1,1)
df_result['ResultDate'] = pd.to_datetime(df_result['ResultDate'].str.strip())
df_result['ValidTo'] = pd.to_datetime(df_result['ValidTo'].str.strip())

df_result = df_result[~((df_result['ValidTo'] < pd.to_datetime('2021-01-01')) | (df_result['ResultDate'] > pd.to_datetime('2023-12-31')))]

for i in ['FormulaName','ProductName','TenderPackage']:
    df_result[i] = df_result[i].str.upper()

df_result['Quota(SmallestUnit)'] = pd.to_numeric(df_result['Quota(SmallestUnit)'],errors='coerce')
df_result['Price'] = pd.to_numeric(df_result['Price'],errors='coerce')

df_result['TenderPackage'][~df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])] = 'Other'
df_result['TenderPackageGroup'] = np.where(
    df_result.TenderPackage.isin(['GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5']),
    'GENERIC',
    df_result['TenderPackage']
)

C:\Users\dung.hoang1.nguyen\AppData\Local\Temp\ipykernel_12384\1675901426.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inviting['TenderPackage'][~df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])] = 'Other'
C:\Users\dung.hoang1.nguyen\AppData\Local\Temp\ipykernel_12384\1675901426.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['TenderPackage'][~df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])] = 'Other'

In [6]:
#change the element of "startdates", "enddates", "phasings_quota", "phasings_value" in accordance with your request

df_inviting['avg_quota'] = df_inviting['Quota(SmallestUnit)']/(df_inviting['ValidTo']-df_inviting['ResultDate']+timedelta(days=1)).dt.days
df_inviting['avg_quota'][df_inviting['avg_quota']<0] = 0
df_result['avg_quota'] = df_result['Quota(SmallestUnit)']/(df_result['ValidTo']-df_result['ResultDate']+timedelta(days=1)).dt.days
df_result['avg_quota'][df_result['avg_quota']<0] = 0

startdates = ['2021-01-01','2022-01-01','2023-01-01']
enddates = ['2021-12-31','2022-12-31','2023-12-31']

starts = startdates
ends = enddates

phasings_quota = ['2021_volume','2022_volume','2023_volume']
phasings_value = ['2021_value','2022_value','2023_value']

#INVITING
for start, end, s, e in zip(starts, ends, startdates, enddates):
    df_inviting[start] = s
    df_inviting[end] = e

#transform those just created columns into datetime column because we assign them with text value in the first place
for d in startdates+enddates:
    df_inviting[d] = pd.to_datetime(df_inviting[d])

for start, end, quota, value in zip(starts,ends,phasings_quota,phasings_value):
    df_inviting[quota] = np.where(
        (df_inviting['ResultDate']<=df_inviting[start]) & (df_inviting['ValidTo']>=df_inviting[end]),
            df_inviting['avg_quota']*(df_inviting[end]-df_inviting[start]+timedelta(days=1)).dt.days,
        np.where((df_inviting['ResultDate']<=df_inviting[start])
                & ((df_inviting[start]<=df_inviting['ValidTo']) & (df_inviting['ValidTo']<=df_inviting[end])),
                    df_inviting['avg_quota']*(df_inviting['ValidTo']-df_inviting[start]+timedelta(days=1)).dt.days,
        np.where(((df_inviting[start]<=df_inviting['ResultDate']) & (df_inviting['ResultDate']<=df_inviting[end]))
                & (df_inviting['ValidTo']>=df_inviting[end]),
                    df_inviting['avg_quota']*(df_inviting[end]-df_inviting['ResultDate']+timedelta(days=1)).dt.days,
                    0
    )))

#RESULT
for start, end, s, e in zip(starts, ends, startdates, enddates):
    df_result[start] = s
    df_result[end] = e

#transform those just created columns into datetime column because we assign them with text value in the first place
for d in startdates+enddates:
    df_result[d] = pd.to_datetime(df_result[d])

for start, end, quota, value in zip(starts,ends,phasings_quota,phasings_value):
    df_result[quota] = np.where(
        (df_result['ResultDate']<=df_result[start]) & (df_result['ValidTo']>=df_result[end]),
            df_result['avg_quota']*(df_result[end]-df_result[start]+timedelta(days=1)).dt.days,
        np.where((df_result['ResultDate']<=df_result[start])
                & ((df_result[start]<=df_result['ValidTo']) & (df_result['ValidTo']<=df_result[end])),
                    df_result['avg_quota']*(df_result['ValidTo']-df_result[start]+timedelta(days=1)).dt.days,
        np.where(((df_result[start]<=df_result['ResultDate']) & (df_result['ResultDate']<=df_result[end]))
                & (df_result['ValidTo']>=df_result[end]),
                    df_result['avg_quota']*(df_result[end]-df_result['ResultDate']+timedelta(days=1)).dt.days,
                    0
    )))
    df_result[value] = df_result[quota] * df_result.Price

C:\Users\dung.hoang1.nguyen\AppData\Local\Temp\ipykernel_12384\3743538039.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inviting['avg_quota'][df_inviting['avg_quota']<0] = 0
C:\Users\dung.hoang1.nguyen\AppData\Local\Temp\ipykernel_12384\3743538039.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['avg_quota'][df_result['avg_quota']<0] = 0

In [7]:
#generate a pivot table to map Patent and Off-patent formula based on drug's brand name
pivot_result = pd.pivot_table(df_result[(df_result.TenderPackage != 'Other')],
                values='ProductName', 
                index=['FormulaName'], 
                columns='TenderPackageGroup', 
                aggfunc=pd.Series.nunique,
                margins=True
                )

pivot_result.fillna(0, inplace=True)
pivot_result = pivot_result.reset_index(drop=False)

pivot_result.drop(index=pivot_result.index[-1],axis=0,inplace=True)

pivot_result

TenderPackageGroup,FormulaName,BRANDED,GENERIC,GENERIC 1,All
0,,166.0,1060.0,321.0,1479.0
1,\nCETIRIZIN 10MG TAB,0.0,1.0,0.0,1.0
2,ISOTRETINOIN+ERYTHROMYCIN 0.5MG+20MG EXT,0.0,1.0,0.0,1.0
3,L-ORNITHIN L-ASPARTAT 3G ORAL,0.0,1.0,0.0,1.0
4,0 0INJ,0.0,1.0,0.0,1.0
...,...,...,...,...,...
6805,ZOLEDRONIC ACID 5MG INJ,2.0,6.0,3.0,7.0
6806,ZOLEDRONIC ACID 5MG/100ML INJ,1.0,2.0,1.0,3.0
6807,ZOPICLON 7.5MG TAB,0.0,4.0,0.0,4.0
6808,ZOPICLONE 7.5MG TAB,0.0,5.0,3.0,6.0
6809,ĐỒNG SULFAT KHAN + NATRI FLUORID 40MG+40MG TAB,0.0,1.0,0.0,1.0

In [8]:
#map Patent/Off-patent formula based on belowed code
pivot_result['Group_OPO'] = None
pivot_result['Group_OPO'] = np.where(
    (pivot_result.All > 0) & (pivot_result.BRANDED == pivot_result.All),
    'Patent',
    np.where(
        (pivot_result.BRANDED > 0) & (pivot_result['GENERIC 1'] > 0) & (pivot_result.Group_OPO.isna()),
        'OPO',
        'No Group'
    )
)

In [9]:
#map Patent/Off-patent formula back to tender result and tender inviting (original datasets)
df_result = pd.merge(df_result,pivot_result[['FormulaName','Group_OPO']],on='FormulaName',how='left')
df_inviting = pd.merge(df_inviting,pivot_result[['FormulaName','Group_OPO']],on='FormulaName',how='left')

All market: Volume

In [10]:
#generate function to create report that show amount and contribution
def report(df, values, index):
    report_amount = pd.pivot_table(df,
                   values=values,
                   index=[index],
                   aggfunc='sum',
                   margins=True
                   )
    
    report_contr = pd.pivot_table(df,
                   values=values,
                   index=[index],
                   aggfunc='sum'
                   ).apply(lambda x: x*100/sum(x))

    report = pd.concat([report_amount,report_contr], axis=1).style.format("{:,.2f}")
    
    return report

**1. Value (Result)**

1.1. All market

In [11]:
report(df_result[df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])],
       phasings_value,
       'TenderPackage'
       )

1.2. P & OPO

In [12]:
report(df_result[
        (df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])) &
        (df_result.Group_OPO.isin(['Patent','OPO']))
        ],
       phasings_value,
       'TenderPackage'
       )

1.3. Patent

In [13]:
report(df_result[
        (df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])) &
        (df_result.Group_OPO.isin(['Patent']))
        ],
       phasings_value,
       'TenderPackage'
       )

1.4. OPO

In [14]:
report(df_result[
        (df_result.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])) &
        (df_result.Group_OPO.isin(['OPO']))
        ],
       phasings_value,
       'TenderPackage'
       )

**2. Volume (Inviting)**

2.1. All market

In [15]:
report(df_inviting[df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])],
       phasings_quota,
       'TenderPackage'
       )

2.2. Patent & OPO

In [16]:
report(df_inviting[df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5']) &
       (df_inviting.Group_OPO.isin(['Patent','OPO']))],
       phasings_quota,
       'TenderPackage'
       )

2.3. Patent

In [17]:
report(df_inviting[df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5']) &
       (df_inviting.Group_OPO.isin(['Patent']))],
       phasings_quota,
       'TenderPackage'
       )

2.4. OPO

In [18]:
report(df_inviting[df_inviting.TenderPackage.isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5']) &
       (df_inviting.Group_OPO.isin(['OPO']))],
       phasings_quota,
       'TenderPackage'
       )

**3. Winning Price**

In [ ]:
df_result['TenderYear'] = df_result['TenderYear'].astype(int)
df = df_result[(df_result['TenderPackage'].isin(['BRANDED','GENERIC 1','GENERIC 2','GENERIC 3','GENERIC 4','GENERIC 5'])) &
               df_result['TenderYear'].isin([2021,2022,2023]) &
               (df_result['Price'] > 0)]


pivot_winprice = pd.pivot_table(df,
                    values='QuotationID',
                    columns=['TenderPackage'],
                    index=['FormulaName'],
                    aggfunc=pd.Series.nunique,
                    margins=True
                    ).reset_index()

formula_list = pivot_winprice.sort_values(by=['All'],ascending = False).reset_index(drop=True)
formula_list = formula_list[~formula_list['FormulaName'].isin(['All',''])]

formula_list_incl_all = formula_list[(formula_list['BRANDED'].notna()) &
                            (formula_list['GENERIC 1'].notna()) &
                            (formula_list['GENERIC 2'].notna()) &
                            (formula_list['GENERIC 3'].notna()) &
                            (formula_list['GENERIC 4'].notna()) &
                            (formula_list['GENERIC 5'].notna())]

formula_list_add = formula_list[(~(formula_list['FormulaName'].isin(formula_list_incl_all['FormulaName']))) &
                            (formula_list['BRANDED'].notna()) &
                            (formula_list['GENERIC 1'].notna()) &
                            (formula_list['GENERIC 2'].notna()) &
                            (formula_list['GENERIC 3'].notna())
                            ][:100]

formula_list_100 = pd.concat([formula_list_incl_all,formula_list_add])

pivot_winprice = pd.pivot_table(df[(df['FormulaName'].isin(formula_list_100['FormulaName']))],
                    values='Price',
                    index=['FormulaName'],
                    columns=['TenderYear','TenderPackage'],
                    aggfunc='mean'
                    )

pivot_winprice.to_excel('pivot_winprice_processing.xlsx')